<div class="hero-body relative py-6 mb-20">
  <div class="mb-2 font-medium text-2xl">
    Hi! I'm Pavee <span class="opacity-70">Udomkarnpaisarn.</span>
  </div>
  <h1
    class="uppercase tracking-tight font-['Lexend_Variable'] text-gray-200 text-3xl md:text-4xl lg:text-6xl"
  >
    A Professional<br />
    <span
      class="inline-block bg-gradient-to-r from-red-600 to-green-400 bg-clip-text text-transparent"
      >Front-end Engineer</span
    >
    <br />
     And an Officially<br />Certified <span
      class="inline-block bg-gradient-to-r from-green-600 to-green-400 bg-clip-text text-transparent"
      >Vue.js Developer</span
    >
  </h1>
</div>

<style lang="scss">
  .hero-body::before {
    @apply absolute block top-1/2 w-1/2 -z-10 -translate-y-1/2 pointer-events-none bg-gradient-to-r from-gray-800/60 to-transparent;

    content: '';
    height: 130%;
    left: 40%;
  }
</style>
