<nav>
  <ul class="flex flex-row gap-3">
    <li><a href="#">My Works</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<style lang="scss">
  li {
    @apply inline-block flex-shrink-0 cursor-pointer opacity-80 hover:opacity-100;

    a {
      @apply font-bold text-red-400 hover:text-rose-400;
    }
  }
</style>
