---
import ContentSection from '@/components/LayoutComponents/ContentSection.astro'
import LinkedinIcon from '@/components/Common/Icons/LinkedinIcon.astro'
import GithubIcon from '@/components/Common/Icons/GithubIcon.astro'
import EmailIcon from '@/components/Common/Icons/EmailIcon.astro'
import SocialMediaDisplay from '@/components/Landing/SocialMediaDisplay.astro'

const title = 'Who Am I?'
const yearsOfExperience = new Date().getFullYear() - 2014 - 1
---

<ContentSection {title}>
  <div class="flex flex-row gap-6 flex-wrap">
    <div class="basis-auto md:basis-1/2 flex-grow">
      <p>
        Hi, I'm <strong>Pavee Udomkarnpaisarn</strong> from Thailand. I'm a
        front-end developer with {yearsOfExperience} years of development
        experience (and counting!). I'm specialized in <strong
          >Vue.js application development</strong
        >.
      </p>
      <p>
        I also dabble in other front-end frameworks such as Svelte and Astro
        (this site was built with Astro!) and am open to learn more about them
        as I work.
      </p>
    </div>
    <div
      class="flex-shrink-0 flex-grow md:flex-grow-0 basis-auto md:basis-1/3 p-6 bg-slate-700/40"
    >
      <SocialMediaDisplay
        text="Linkedin"
        url="https://www.linkedin.com/in/pavee-udomkarnpaisarn-64957437/"
      >
        <LinkedinIcon slot="prefix" />
      </SocialMediaDisplay>
      <SocialMediaDisplay text="@Sylphritz" url="https://github.com/Sylphritz">
        <GithubIcon slot="prefix" />
      </SocialMediaDisplay>
      <SocialMediaDisplay
        text="pudomkarnpaisarn@gmail.com"
        url="mailto:pudomkarnpaisarn@gmail.com"
      >
        <EmailIcon slot="prefix" />
      </SocialMediaDisplay>
    </div>
  </div>

  <h4 class="mt-6">Skills & Experience</h4>

  <div
    class="grid grid-cols-1 grid-rows-3 md:grid-cols-3 md:grid-rows-1 gap-3 md:gap-6"
  >
    <div class="skills-grid-cell">
      <h4>Frontend</h4>
      <ul>
        <li>
          Vue.js
          <ul>
            <li>Certified Vue.js Developer</li>
            <li>Option API, Composition API</li>
            <li>Pinia/Vuex</li>
            <li>Vue Router</li>
          </ul>
        </li>
        <li>HTML5/CSS3</li>
        <li>JavaScript, TypeScript</li>
        <li>TailwindCSS</li>
        <li>Svelte, SvelteKit</li>
        <li>Astro</li>
      </ul>
    </div>
    <div class="skills-grid-cell">
      <h4>Backend</h4>
      <ul>
        <li>Node.js</li>
        <li>Python</li>
        <li>Firebase</li>
        <li>Supabase</li>
        <li>Cloudflare</li>
      </ul>
    </div>
    <div class="skills-grid-cell">
      <h4>Other</h4>
      <ul>
        <li>Figma</li>
        <li>Web Design</li>
        <li>NPM, Yarn, PNPM</li>
        <li>Git</li>
        <li>Slack, Discord</li>
        <li>Data Science & Machine Learning</li>
      </ul>
    </div>
  </div>
</ContentSection>

<style lang="scss">
  .skills-grid-cell {
    @apply p-3 bg-gradient-to-b from-slate-700/50 to-transparent;

    h4 {
      @apply uppercase text-lg font-normal opacity-70;

      letter-spacing: 0.6rem;
    }

    & > ul {
      & > li {
        @apply mb-2 bg-slate-700/30 p-2;

        ul {
          @apply pl-3;

          li {
            @apply mb-0;

            &::before {
              @apply mr-2;

              content: '-';
            }
          }
        }
      }
    }
  }
</style>
