---
// Supports weights 100-900
import '@fontsource-variable/lexend'
// Supports weights 100-900
import '@fontsource-variable/dm-sans'
import '@/assets/styles/base.scss'

import BodyWrapper from '@/components/LayoutComponents/BodyWrapper.astro'
import Header from '@/components/LayoutComponents/Header.astro'
import Footer from '@/components/LayoutComponents/Footer.astro'

interface Props {
  title?: string
}

const { title = 'Pavee Udomkarnpaisarn' } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <BodyWrapper>
      <Header />
      <slot />
      <Footer />
    </BodyWrapper>
  </body>
</html>
